%p= image_tag @picture.image

- if @picture.imageable
  %p
    Post:
    = link_to @picture.imageable.title, @picture.imageable
  = link_to 'Back', @picture.imageable
- else
  = link_to 'Back', pictures_path
